.Cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.leaderboard{
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    width: 80vw;
    margin-left: 60px;
    margin-right:60px;
}
.Rows{
    border-radius:10px;
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
    display: flex;
    flex-direction: column
}
.rowheadings{

    border-radius: 10px;
    background-color: rgba(95, 32, 44, 0.3);
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
    display: flex ; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    font-family: 'Fira Code', monospace;
    color: #ffd700; 
     
}
