.podiumcard {
    margin: 50px;
    max-width: 45vh;
    margin-left: none;
    flex: 1;
    height: 210px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

}

.address {
    max-width: 100%;
    word-wrap:break-word; 
    overflow-wrap: break-word;
    white-space: normal;
}