.podiumcard {
    margin: 30px;
    max-width: 33vw;
    margin-left: none;
    flex: 1;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px ;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff; 
    font-family: 'Orbiton', sans-serif;
    overflow: hidden;

}
.hrank{
    color: rgb(9, 9, 9)
    
}


.card-body,
.card-body p,
.card-body span {
    max-width: 100%;
    font-size: 14px;
    color: black;
    overflow-wrap: break-word; 
    white-space: normal;
    word-break: break-all; 
    padding:2px;
    padding-left:4px;
    padding-right:4px;
    font-family: 'Fira Code', monospace;
}

.pricechild{
    display:flex;
    align-items: center; 
    justify-content: center;
    
}

.location{
    display:flex;
    align-items: center; 
    justify-content: center;
    padding:8px;
    gap:12px;
}

.copyable{
    background-color: rgba(220, 220, 220, 0.1);
    border-radius:5px;
    
    padding-left: 4px;
    padding-right: 4px;
    display:flex;
    flex-driection:row;

}


button{
    background-color: rgba(95, 32, 44,0.1);
    border-width:1px;
    border-color:rgba(95, 32, 44);
    border-radius:5px;
}