:root {
    --old-rose: #CC7178;
  --chocolate-cosmos: #511c29;
  --bone: #d0ceba;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  
  margin: 0;
  height: 380vh;
  width: 100vw;
  background-position: center;
  background-image: linear-gradient(to right, #cc7178, #b46069, #9c4f5a, #853f4b, #6e303c, #71373c, #733f3d, #74463f, #8b6756, #a18972, #b8ab94, #d0ceba);

}